// Base styles
// ---------------------------------------/
* {
  box-sizing: border-box;
}

html {
  background: $bg;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

body {
  font-family: $font-sans;
  color: $text-color;
  font-size: $font-size-base;
  line-height: $line-height-base;
  margin: 0;
}

// clearfix
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both; }

::selection {
  background: $accent;
  color: #fff;
  text-shadow: none;
}

a {
  color: $accent;
  text-decoration: none;
  @include transition(color .2s ease);

  &:hover {
    color: $accent-hover;
  }
}
