.grid {
  display: flex;
 }
.col-1-2 {
  flex: 1;
}
.cole-1-2:last-child {
  margin-left: 20px;
}

.resume-item-title {
  border-bottom: 0.5px solid #c7c7c7;
  line-height: 2em !important;
}

.icon-links {
  float: none !important;
}

.logo {
  width: 100px;
  height: 32px;
  &.black {
    width: 142px;
    height: 30px;
  }
  display: block;
  text-indent: -9999px;
}
