// Resume styles
// ---------------------------------------/

// Section headers (used in print)
.section-header {
  margin-bottom: 1rem;

  h2 {
    @include sans;
    font-weight: 800;
    font-size: 1.5rem;
    letter-spacing: -.03rem;
    margin: 0;
    color: $heading-color;
  }
}

// Icon styles
.icon {
  height: 26px;
  vertical-align: middle;
}

// Logo
.logo {
  width: 100px;
  height: 32px;
  &.black {
    width: 71px;
    height: 15px;
    float: left;
  }
  display: block;
  text-indent: -9999px;
}
